<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmj.innerpeace">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"

        android:icon="@mipmap/ic_launcher_new"
        android:label="Inner Peace"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.WriteActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BluetoothAdapterDemoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BluetoothDeviceDemoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DemoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FileDemoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>